<!DOCTYPE html>
<html>
  <head>
    <title>Provemewrong</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body class="container bg-gray">
    <% if notice.present? %>
        <aside class="alert alert-info">
          <%= notice %>
        </aside>
    <% end %>
    <% if alert.present? %>
        <aside class="alert alert-danger">
          <%= alert %>
        </aside>
    <% end %>

    <%= yield %>
  </body>
</html>
